# Этот публичный ключ API от OpenWeatherMap был найден мной примерно 10 лет назад в репозиториях библиотеки lain и принадлежит, по всей видимости, Luca CPZ.
# Прошу, используй его аккуратно (не чаще раза в 5 минут) и только дома. Для масштабных проектов с множеством запросов в минуту зарегай свой.
# В моём проекте происходит один запрос при старте + 6 запросов в сутки.  
WEATHER_API_KEY=3e321f9414eaedbfab34983bda77a66e

# Город для определения погоды. Написание должно совпадать с написанием на OpenWeatherMap.
WEATHER_CITY=Korolyov

# Производитель и продукт USB-устройства (принтера). Запусти "lsusb" и ищи что-то вроде "1fc9:2016 NXP Semiconductors Printer-80" или похожее. Первое число - VENDOR_ID, второе - PRODUCT_ID.
VENDOR_ID=0x1fc9
PRODUCT_ID=0x2016